<!DOCTYPE html>
<html lang="en">

<head>
    {% load staticfiles %} {% csrf_token %}
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Here Comes the Deuce!</h1>
            <h4 class="text-center"><em>"..and when you speak of me, speak well."</em></h4>
        </div>
    </div>

    {% load crispy_forms_tags %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% crispy form %}
            </div>
            <div class="col-sm-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table id="pitcherlist" class="display responsive" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Player Name</th>
                                    <th>Game Date</th>
                                    <th>Pitch Type</th>
                                    <th>Release Speed</th>
                                    <th>PFX X</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function() {
            var oTable = $('#pitcherlist').DataTable({
                "responsive": true,
                "processing": true,
                "serverSide": true,
                "ajax": "{% url 'pitcherlist' %}",
            });


            var frm = $('#filter_form');
            frm.submit(function() {
                $.ajax({
                    type: frm.attr('method'),
                    url: frm.attr('action'),
                    data: frm.serialize(),
                    success: function(data) {
                        oTable.ajax.reload();
                        $('#submit-id-submit').prop('disabled', false);
                        console.log(data);
                    },
                    error: function(data) {
                        alert('Sorry, something went wrong. Please try again.');
                    }
                });
                return false;
            });
        });
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</html>
